 body {
	background-color: black;
	text-align: center;
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYP7bvg36jSRDo1R3pCZb5UzQ-pvBzq6Gxiw&usqp=CAU");
	background-repeat: no-repeat;
	background-size: cover;
  }
h1 {
	font-family: 'Times New Roman', Times, serif;
	padding-top: 50px;
	font-size: 100px;
	color: rgb(255, 217, 0);
	display: inline-block;
}
button {
	width: 200px;
	padding: 10px 15px; 
	margin: 0px 20px;
	border-radius: 0px 50px 0px 50px;
	border-color: rgb(203, 183, 67) ;
	cursor: pointer; 
	font-size: 50px;  
	color: white;
	font-weight: 1000;
	background-color: rgb(203, 183, 67);
}

h2 {
  color: gold;
  width: 220px;
  display: inline-block;
  font-size: 100px;
}